body {
  background-color: #033f63;
}

.todoapp {
  margin: 0;
}

.header .toggle-all,
.header .toggle-all + label {
  position: static;
  align-self: flex-start;
  margin-left: -8px;
}

.search-bar input, .todo-list input {
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  color: inherit;
  -webkit-font-smoothing: antialiased;
}

.todo-list .edit {
    display: block;
    width: calc(100% - 43px);
    padding: 12px 16px;
    margin: 0 0 0 43px;
}

.footer {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.filters {
  position: inherit;
}

@media (max-width: 430px) {
  .footer {
    margin-bottom: 70px;
  }

  .filters {
    bottom: auto;
    display: flex;
    flex-direction: column;
  }
}
